{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
  <table class="table table-light opacity-75 my-5" style="border-radius:.5rem;">
    <thead>
      <tr>
        <th scope="col">
          <h1>{{ review.title }}</h1>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <h3>{{ review.content }}</h3>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="my-5">
    <!-- 수정 버튼 -->
    <a class="btn violet" href="{% url 'moviepjt:edit' review.pk %}">수정</a>
    <!-- 삭제 버튼 -->
    <a class="btn dark_violet" href="{% url 'moviepjt:delete' review.pk %}">삭제</a>
    <!-- 돌아가기 버튼 -->
    <a type="button" class="btn violet px-5" href="{% url 'moviepjt:index' %}"><span class="fw-bold">BACK</span></a>
  </div>
</div>

{% endblock content %}