{% extends 'base.html' %}

{% block content %}


<!-- 테이블 -->
<a type="button" class="btn btn-success" href="{% url 'moviepjt:new'%}">리뷰 작성</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">리뷰번호</th>
            <th scope="col">리뷰 제목</th>
            <th scope="col">작성 시간</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <th scope="row">{{ review.id }}</th>
            <td><a href="{% url 'moviepjt:detail' review.id %}">{{ review.title }}</a>
            </td>
            <td>{{ review.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}